<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Grand+Hotel|Pangolin|Patrick+Hand+SC|Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/style/style.css">
</head>
<body>
