body{
  background-image: radial-gradient(#046158, #01423c);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.first-container{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/img_polopan.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  width: 100%;
  height: 50px;
  display:flex;
}

.header ul {
  padding-right:90px;
  float:right;
}

.header ul li {
  display: inline-block;
  list-style: none;
  font-size: 25px;
  padding-left:35px;
  padding-top:20px;

}

.header ul li a {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.header ul li:hover{
  cursor: pointer;
}

.header ul li a:hover{
  font-weight: bold;
  cursor: pointer;
}

.hero{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.hero-content{
  width: 50%;
  height: 480px;
  color:white;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-content h1{
  font-family: 'Vibur', cursive;
  font-size : 70px;
  margin:0;

}

.hero-content .hero-description {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  width: 80%;r
}

.access-albums{
  width: 130px;
  height: 50px;
  border: solid white 1px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-albums a{
  color: white;
  text-decoration: none;

}

.access-albums:hover{
  background-color: white;
  transition: all ease-in-out 0.3s;
}

.access-albums:hover a{
  color: #01423c;
}

/*PAGE ALBUMS*/

.second-container{
  width: 100vw;
  display: flex;
}

.title-logo {
  margin: 0;
  list-style: none;
  font-family: 'Vibur', cursive;
  font-size: 40px;
  padding: 20px 40px;
}

.title-logo a{
  text-decoration: none;
  color: white;
}

.title-albums{
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom:20px;
}

.albums-display{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  color: white;
}

.album-zone{
  margin-left: 100px;
  margin-bottom:50px;
  text-align: center;
}

.album-zone-img{
  width: 200px;
  height: 200px;
  background-color: white;
  background-size: 100%;
}

.albums-display a{
  text-decoration: none;
}
.albums-display a span{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/*PAGE ALBUM ID*/
.album-presentation {
  display: flex;
  margin-top: 140px;
  justify-content: center;

}
.album-zone-bis{
  width:50%;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

.album-zone-img-bis{
  width: 200px;
  height: 200px;
  padding-right: 30px;
}

.album-zone-bis-title{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 20px;
}

.album-zone-bis-date{
  padding-bottom: 50px;
}


.song-presentation{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.song-zone{
  width:67%;
  justify-content: center;
  color:#01423c;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.lineperline{
  border-bottom: solid 1px #099185;
  padding: 10px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 950px) {
  .hero-content {
    width: 100%;
  }

  .first-container{
    /*background: none;*/
  }
}
