{{include('partials/header.twig')}}

<div class="first-container">
  <div class="title"></div>
  <div class="hero">
    <div class="hero-content">
      <h1>Polo & Pan</h1>
      <div class="hero-description">
        Polo & Pan voit le jour en 2012 suite à la rencontre astrale entre Polocorp et Peter Pan. Une demie décennie après leur rencontre derrière les platines du Baron, Polo & Pan, dans la vie Alexandre Grynszpan et Paul Armand-Delille, parachutent enfin
        leur premier long format Caravelle prévu pour le 19 mai 2017. En y apposant leur française touche mélodique, une singularité douce et juvénile dans l’écriture de leurs textes, et d’audacieux motifs de percussions, Polo & Pan ont réussi à embarquer
        une véritable peuplade à bord de leur vaisseau. Nous aurons tous un jour ou l’autre adopté Canopée, Plage Isolée ou Dorothy.
      </div>
      <div class="access-albums">
        <a href=" {{ url('albums') }} ">Découvrir</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
